# Managed by Ansible
data_directory = '{{ postgres_data_dir }}'
hba_file = '{{ postgres_conf_dir }}/pg_hba.conf'
ident_file = '{{ postgres_conf_dir }}/pg_ident.conf'
unix_socket_directories = '{{ postgres_unix_socket_dir }}'
listen_addresses = '{{ postgres_listen_addresses }}'
port = {{ postgres_port }}
max_connections = {{ postgres_max_connections }}
shared_buffers = '{{ postgres_shared_buffers }}'
work_mem = '{{ postgres_work_mem }}'
maintenance_work_mem = '{{ postgres_maintenance_work_mem }}'
wal_level = '{{ postgres_wal_level }}'
