[Interface]
PrivateKey = {{ wg_private_key }}
Address = {{ wg_address }}
ListenPort = {{ wg_listen_port }}
{% set _wg_post_up = wg_post_up | default([]) %}
{% if _wg_post_up | length > 0 %}
PostUp = {{ _wg_post_up | join(' ; ') }}
{% endif %}
{% set _wg_post_down = wg_post_down | default([]) %}
{% if _wg_post_down | length > 0 %}
PostDown = {{ _wg_post_down | join(' ; ') }}
{% endif %}

{% for peer in (wg_peers | default([])) %}
[Peer]
PublicKey = {{ peer.public_key }}
AllowedIPs = {{ peer.allowed_ips }}
{% if peer.endpoint is defined %}Endpoint = {{ peer.endpoint }}{% endif %}
{% if peer.persistent_keepalive is defined %}PersistentKeepalive = {{ peer.persistent_keepalive }}{% endif %}

{% endfor %}
