---
- name: Preflight
  include_tasks: preflight.yml
  tags: k3s

- name: Configuracao
  include_tasks: config.yml
  tags: k3s

- name: Instalacao
  include_tasks: install.yml
  tags: k3s

- name: Runtime
  include_tasks: runtime.yml
  tags: k3s

- name: Status
  include_tasks: status.yml
  tags: k3s

- name: Cluster
  include_tasks: cluster.yml
  tags: k3s

- name: Kubeconfig
  include_tasks: kubeconfig.yml
  tags: k3s
