---
- name: Provisionar PostgreSQL na VM de banco de dados
  hosts: database
  become: true
  vars_files:
    - ../group_vars/database/main.yml
    - file: ../group_vars/database/vault.yml
      optional: true
  roles:
    - role: postgres_server
